@import url("https://fonts.googleapis.com/css?family=Montserrat");
* {
  box-sizing: border-box;
}


.slider {
  position: relative;
  margin-top: 140px;
  margin-left: 50%;
  transform: translate(-50%, -50%);
  width: 1000px;
  height: 250px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

.wrapper {
  overflow: hidden;
  position: relative;
  background: #222;
}

#items {
  width: 10000px;
  position: relative;
  top: 0;
  left: -1000px;
}

#items.shifting {
  transition: left .2s ease-out;
}

.slide {
  width: 1000px;
  height: 250px;
  padding-left: 2em;
  padding-right: 2em;
  cursor: pointer;
  float: left;
  display: flex;
  flex-direction: column;
  transition: all 1s;
  position: relative;
  background: #f8f8f8;;
  overflow-y: scroll;
}



.control {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 20px;
  margin-top: -20px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.prev,
.next {
  background-size: 22px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.prev {
  background-image: url(https://cdn0.iconfinder.com/data/icons/navigation-set-arrows-part-one/32/ChevronLeft-512.png);
  left: -25px;
}

.next {
  background-image: url(https://cdn0.iconfinder.com/data/icons/navigation-set-arrows-part-one/32/ChevronRight-512.png);
  right: -25px;
}

.prev:active,
.next:active {
  transform: scale(0.8);
}


.wordcloud {
  position: relative;
  margin-top: 400px;
  margin-left: 50%;
  margin-bottom: 20px;

  transform: translate(-50%, -50%);
  width: 1000px;
  height: 800px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}