{% extends "base.html" %} 
{% block content%}
<div class="wrap contact" style="margin-bottom: 100px;">
    <div class="grid grid-pad" >
        <h2>Analyze newspaper</h2>
        <div class="col-1-1"style="background-color: white; margin-top: 100px;" >
            <form action="submit2" id="textform" method="post" enctype='multipart/form-data'class = " form">
        
                <div class="">
                    
                    <div>
                        <h2 class="title">
                            Analyze newspaper
                        </h2>
                    </div>
            
                    <div class="form-group " style=" margin-left: auto; margin-right: auto; width: 60%;" >
                        <p class="comment_form_field">
                            <label for="id_text">Upload newspaper:</label>
                        </p>
                        <input type = "file" name = "filename" class="comment-name" style="border: 2px solid #ebebeb;" accept=".pdf" required/>{{filename}}
                    </div>
            
                    <div class="form-group " style="text-align: center !important;">
                        <input type="submit" value="Analyze" class="btn submit " />
                    </div>
            
                </div>
            </form>
            {% if filename != " " %}
            <div >
                <a class="btn read-more" href="/download_highlighted_text" style="float: right;"><span class="icon-printer"></span>  highlighted newspaper</a>
            </div>
            <img src={{url}} alt="no visual">
            {% endif %}

            
        </div>
    </div>
</div>










{% endblock %}