{% extends "base.html" %} 
{% block content%}

<!-- Parallax Section -->
<div class="parallax-section1 parallax1">
    <div class="grid grid-pad">
        <div class="col-1-1">
            <div class="content content-header" >
                <h3>Analyze newspaper articles</h3>
                <p>Using technology to improve intelligence</p>
                <a  class="btn btn-ghost-sec" href="/analyze">Analyze</a>
                <a  class="btn btn-ghost" href="/summarize">Summarize</a>

            </div>
        </div>
    </div>
</div>
<!-- End Parallax Section -->

<!-- CurveUp -->
<svg class="curveUpColor" style="background: transparent !important;" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
    <path d="M0 100 C 20 0 50 0 100 100 Z"></path>
</svg>

{% endblock %}