{% extends "base.html" %} 
{% block content%}

<!-- Parallax Section -->
<div class="parallax-section1 parallax1">
    <div class="grid grid-pad">
        <div class="col-1-1">
            <div class="content content-header" >
                <h3>Analyze newspaper articles</h3>
                <p>Using technology to improve intelligence</p>
                <a  class="btn btn-ghost-sec" href="/analyze">Analyze</a>
                <a  class="btn btn-ghost" href="/summarize">Summarize</a>

            </div>
        </div>
    </div>
</div>
<!-- End Parallax Section -->



{% endblock %}