{% extends "base.html" %} 
{% block content%}

<form action="submit" id="textform" method="post">
    <div class="summarizer">
        <h2 class="title">
            Summarize your article
        </h2>
        <div class="form-group">
            <p class="comment_form_field">
                <label for="id_text">Article:</label>
            </p>
                <textarea cols="80" rows="15" id="id_text" maxlength="10000" class="form-control" name="text" rows="3">{{ text }}</textarea>
        </div>
        
        <!-- <div class="form-group mb-2">
            <p class="comment_form_field">
                <label for="id_sentences">Number of sentences:</label>
            </p>
            <input id="id_sentences" min="1" name="sentences" type="number" value="5" class="selector form-control" />
        </div>
        <div class="form-group mb-2">
            <input type="submit" value="Summarize" class="btn btn-primary mb-2" id="submit_sum" />
        </div> -->

        <div class="row">
            <div class="form-group col-md-6 ">
                <p class="comment_form_field">
                    <label for="id_sentences">Sentences:</label>
                </p>
                <input id="id_sentences" min="1" name="sentences" type="number" value="5" class="selector form-control text-center" />
            </div>
        </div>
        <div class="form-group text-center">
            <input type="submit" value="Summarize" class="btn btn-solid-lg mb-2" id="submit_sum" />
        </div>
        
    </div>
    </form>
    <div class="result">
        <p class="comment_form_field">
            <label for="id_res">Summary:</label>
        </p>
        <textarea cols="80" id="id_text" max_length="3000" class="form-control" name="result" rows="10" readonly>{{ summary }}</textarea>
    </div>

{% endblock %}