{% extends "base.html" %} 
{% block content%}
<div class="wrap contact" >
    <div class="grid grid-pad" >
        <div class="col-1-1" style=" margin-top: 100px;" >
            <form action="submit" id="textform" method="post" enctype='multipart/form-data'class = "summarizer">
                <div class="summarizer">
                    <h2 class="title">
                        Summarize your article
                    </h2>
            
                    <div class="row">
                        <div class="form-group col-md-6 ">
                            <p class="comment_form_field">
                                <label for="id_text">Upload newspaper:</label>
                            </p>
                            <input type = "file" name = "filename"  accept=".pdf" required/>{{filename}}
                        </div>
                        <div class="form-group col-md-6">
                            <p class="comment_form_field">
                                <label for="id_sentences">Sentences:</label>
                            </p>
                            <input id="id_sentences" min="1" name="sentences" type="number" value="4" class="selector form-control text-center" />
                        </div>
                    </div>
            
                    <div class="form-group text-center">
                        <input type="submit" value="Summarize" class="btn btn-solid-md mb-2" />
                    </div>
                    
                </div>
            </form>

            <div id="slider" class="slider">
                    
                <div class="wrapper">
                    
                    <div id="items" class="items">
                    {% if summary_list|length > 0 %}
                    {% for summary in summary_list %}
                    <span class="slide">
                        <h3>Summary {{loop.index}}</h3>
                        <p>{{ summary }}</p>
                    </span>
                    {% endfor %}
                    {% else %}
                    <span class="slide">No Summary</span>
                    {% endif %}
                    </div>
                </div>
                <a id="prev" class="control prev"></a>
                <a id="next" class="control next"></a>
            </div> 
            
            {% if summary_list|length > 0 %}
            <div style="margin-top: -110px;" >
                <a class="btn read-more" href="/download_report" style="float: right;"><span class="icon-printer"></span> <span style="margin-left: 1em;"> download report</span></a>
            </div>
            {% endif %}
        </div>
    </div>
</div>





    <script src="{{ url_for('static', filename='js/summary.js') }}"></script>

</script>
 

{% endblock %}